@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');

body {
    height: 100vh;
    font-family: 'Trispace', sans-serif;
    color: #5a5a5a;
    font-size: 16px;
}

main {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;

    padding: 0 .5em;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

.cat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-pic {
    width: 100%;
    visibility: hidden;
}

#cat-tion {
    transition: opacity 0.3s ease-out;
    opacity: 1.0;
}

#cat-tion.hidden {
    opacity: 0;
}

a {
    color: #395E66;
}


