@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap");

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Trispace", sans-serif;
	color: #5a5a5a;
	font-size: 16px;
}

main {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;

	padding: 0 0.5em;
}

main > div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	text-align: center;
	font-size: 0.8em;
}

.cat {
	animation: appear 0.3s ease-out;
}

.hidden {
	display: none;
}

.cat-pic {
	max-width: 100%;

	transition: opacity 0.3s ease-out;
	opacity: 1;
}

.loading {
	height: 24px;
	line-height: 24px;
	transform-origin: center center;

	animation: whirl;
	animation-play-state: running;
	animation-iteration-count: infinite;
	animation: whirl;
	animation-play-state: running;
	animation-iteration-count: infinite;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}

a {
	color: #395e66;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes whirl {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
